
<%- include('partials/header') -%>

        <div class="container">
            <form action="">
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" id="firstName" name="firstName">
                </div>

                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" id="lastName" name="lastName">
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" id="email">
                </div>
            </form>
        </div>
   
<%- include('partials/footer') -%>