
<%- include('partials/header') -%>

        <div class="container">
            <form action="">
                <div class="form-group">

                </div>
            </form>
        </div>
   
<%- include('partials/footer') -%>