
<%- include('partials/header') -%>

        <div class="container">
            <form action="">
                <div class="form-group">
                    <label for="first name">First Name</label>
                    <input type="text" id="firstName">
                </div>
            </form>
        </div>
   
<%- include('partials/footer') -%>