
<%- include('partials/header') -%>

        <div class="container">
            <form action="">
                <div class="form-group">
                    <h1>Hi. Invitation page kind of works now</h1>
                </div>
            </form>
        </div>
   
<%- include('partials/footer') -%>